<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para mudar a senha da sua conta. Você pode fazer isso através do link abaixo.</p>
<p><%= link_to 'Mudar a minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou a mudança, favor ignorar esse email.</p>
<p>sua senha não irá mudar até você acessar o link acima e criar uma nova senha.</p>
